[Desktop Entry]
Name=FSViewer
Comment=File Viewer
Comment[pl]=Przeglądarka plików
Exec=/usr/lib/GNUstep/Apps/FSViewer.app/FSViewer
Terminal=0
Type=Application
# vi: encoding=utf-8
