[Desktop Entry]
Name=FSViewer
Comment=File Viewer
Comment[pl]=Przeglądarka plików
Exec=/usr/lib/GNUstep/Apps/FSViewer.app/FSViewer
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Utility;Viewer;
# vi: encoding=utf-8
